/**
 * All of the CSS for frontend-specific functionality which do not have variables(CSS architecture) are 
 * included in this file.
 */
#gdpr-cookie-consent-bar #cookie_credit_link {
  color: var(--popup_accent_color);
}
.gdpr-plugin-button:hover {
  background-color: #111;
}
.pink.gdpr-plugin-button,
.magenta.gdpr-plugin-button:visited {
  background-color: #e22092;
}
.pink.gdpr-plugin-button:hover {
  background-color: #c81e82;
}
.green.gdpr-plugin-button,
.green.gdpr-plugin-button:visited {
  background-color: #91bd09;
}
.green.gdpr-plugin-button:hover {
  background-color: #749a02;
}
.red.gdpr-plugin-button,
.red.gdpr-plugin-button:visited {
  background-color: #e62727;
}
.red.gdpr-plugin-button:hover {
  background-color: #cf2525;
}
.orange.gdpr-plugin-button,
.orange.gdpr-plugin-button:visited {
  background-color: #ff5c00;
}
.orange.gdpr-plugin-button:hover {
  background-color: #d45500;
}
.blue.gdpr-plugin-button,
.blue.gdpr-plugin-button:visited {
  background-color: #2981e4;
}
.blue.gdpr-plugin-button:hover {
  background-color: #2575cf;
}
.yellow.gdpr-plugin-button,
.yellow.gdpr-plugin-button:visited {
  background-color: #ffb515;
}
.yellow.gdpr-plugin-button:hover {
  background-color: #fc9200;
}
.gdprmodal-content {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.table {
  color: #212529;
}
.table th,
.table td {
  border: 1px solid #dee2e6;
}
.table .thead-dark th {
  background-color: #ebebeb;
}
.gdpr_messagebar_detail.navy_blue_center .table .thead-dark th,
.gdpr_messagebar_detail.navy_blue_box .table .thead-dark th,
.gdpr_messagebar_detail.navy_blue_square .table .thead-dark th {
  background-color: #354e8e;
}
.gdpr_messagebar_detail.almond_column .table .thead-dark th {
  background-color: #f2ecd8;
}
.gdpr_messagebar_detail.dark .table .thead-dark th {
  background-color: #3a3a3a;
}
.gdpr_messagebar_detail.dark_row .table .thead-dark th {
  background-color: #434a58;
}
.gdpr_messagebar_detail #cookie_credit_link {
  color: var(--popup_accent_color);
}
#gdpr-cookie-consent-bar .btn,
.gdpr_messagebar_detail .btn {
  color: #212529;
}
.gdpr_messagebar_detail
  .category-group
  .category-item
  .description-container
  .group-toggle
  .checkbox
  label:after,
.gdpr_messagebar_detail.layout-classic
  .category-group
  .toggle-group
  .checkbox
  label:after {
  background: #7b7b7b;
}
.gdpr_messagebar_detail
  .category-group
  .category-item
  .description-container
  .group-toggle
  .checkbox
  input:checked
  + label:after,
.gdpr_messagebar_detail.layout-classic
  .category-group
  .toggle-group
  .checkbox
  input:checked
  + label:after {
  background: #333333;
}
.gdpr_messagebar_detail
  .category-group
  .category-item
  .description-container
  .toggle-group
  .always-active,
.gdpr_messagebar_detail.layout-classic
  .category-group
  .toggle-group
  .always-active {
  color: #333333;
}
.wpl-iframe-placeholder {
  background-color: #b2b0b059;
}
