/* Data request report */

.wpl-content-area {
  background-color: var(--white-100);
  padding: 30px 16px;
  border-radius: 6px;
}
.wpl-heading-export-consentlogs,.wpl-heading-export-datarequest{
    display: flex;
    justify-content: space-between;
}
.wp-heading{
  color: var(--black-50);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-xl-font-size) !important;
  font-style: normal;
  font-weight: var(--text-medium-font-weight) !important;
  line-height: normal;
  margin-right: 20px !important;
}
#wpl-dnsmpd-filter-datarequest .sorting-indicators {
  display: none;
}
#wpl-dnsmpd-filter-datarequest .manage-column a span {
  color: var(--gray-700);
  font-size: var(--text-sm-font-size);
  font-style: normal;
  font-weight: var(--text-medium-font-weight);
  line-height: normal;
}

#wpl-dnsmpd-filter-datarequest tbody td {
  font-size: var(--text-sem-13-font-size);
  font-style: normal;
  font-weight: var(--text-regular-font-weight);
  line-height: normal;
}
#wpl-dnsmpd-filter-datarequest table thead tr th {
  padding: 10px;
}
#wpl-dnsmpd-filter-datarequest tbody tr td {
  padding: 15px;
}
#wpl-dnsmpd-filter-datarequest table {
  border-radius: 5px;
}
#wpl-dnsmpd-filter-datarequest table tfoot {
  display: none;
}
#wpl-dnsmpd-filter-datarequest table thead tr th a {
  pointer-events: none;
}

#wpl-dnsmpd-filter-datarequest .row-actions {
  left: 0;
}
#wpl-dnsmpd-filter-datarequest .row-actions .resolve a {
  color: var(--blue-500);
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-sm-font-size);
  font-style: normal;
  font-weight: var(--text-regular-font-weight);
  line-height: var(--text-sm-line-height);
  padding-right:20px;
}
#wpl-dnsmpd-filter-datarequest .row-actions .delete a {
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-sm-font-size);
  font-style: normal;
  font-weight: var(--text-regular-font-weight);
  line-height: var(--text-sm-line-height);
  padding-left:20px;
}

.datarequest.column-datarequest a {
  color: var(--blue-904);
  font-size: var(--text-sm-font-size);
  font-style: normal;
  font-weight: var(--text-regular-font-weight);
  line-height: normal;
}
.search-and-export-container {
  display: flex;
  margin-bottom: 40px;
}
.policy-data-search-log .search-and-export-container {
  margin-bottom: 0;
}
.search-and-export-container .search-box {
  float: none;
}
#wpl-dnsmpd-filter-datarequest .search-box #gdpr-cookie-consent-search-input-data-request {
  height: 36px;
  width: 349px;
  border:none;
}
#wpl-dnsmpd-filter-datarequest .search-box #gdpr-cookie-consent-search-input-data-request:focus{
  box-shadow: none;
}
#wpl-dnsmpd-filter-datarequest .search-box #search-submit-data {
  height: 40px;
  margin: 0 15px;
  color: var(--blue-904);
  font-size: var(--text-base-font-size);
  font-style: normal;
  font-weight: var(--text-regular-font-weight);
  line-height: normal;
  padding: 0px 20px;
  border-color: var(--blue-904);
}
#search-submit-data{
  display: none;
}
.wpl_resolved_select_filter {
  width: 128px;
	height: 36px;
	background-color: var(--gray-100) !important;
	font-family: "Poppins", sans-serif;
	color: var(--gray-600) !important;
	font-size: var(--text-xs-font-size) !important;
	font-style: normal;
	font-weight: var(--text-medium-font-weight);
	line-height: normal;
  margin-left:20px;
}
.wpl_resolved_select {
  right: 0;
  width: 120px;
  height: 40px;
  color: var(--black-50);
  font-size: var(--text-base-font-size);
  font-style: normal;
  font-weight: var(--text-regular-font-weight);
  line-height: normal;
}
#wpl-dnsmpd-filter-datarequest #bulk-action-selector-top,
#wpl-dnsmpd-filter-datarequest #bulk-action-selector-bottom {
  width: 128px;
	height: 36px;
	margin-bottom: 20px;
	background-color: var(--gray-100);
	font-family: "Poppins", sans-serif;
	color: var(--gray-600);
	font-size: var(--text-xs-font-size);
	font-style: normal;
	font-weight: var(--text-medium-font-weight);
	line-height: normal;
}

#wpl-dnsmpd-filter-datarequest #doaction,
#wpl-dnsmpd-filter-datarequest #doaction2 {
  height: 36px;
	border-radius: 4px;
	background: var(--white-100);
	color: var(--blue-901);
	font-family: 'Roboto', sans-serif;
	font-size: var(--text-sm-font-size);
	font-style: normal;
	font-weight: var(--text-semi-bold-font-weight);
	line-height: normal;
	width: 100px;
	margin-left: 6px;
  margin-right: 20px;
}

#wpl-dnsmpd-filter-datarequest .tablenav .tablenav-pages .button {
  min-width: 40px;
  min-height: 38px;
  line-height: 2.1;
}

#wpl-dnsmpd-filter-datarequest #current-page-selector-data-request {
  height: 38px;
}
#dataRequestContainer.wpl.wrap {
  margin: 0;
  border-radius: 6px;
  border: none;
  background: var(--white, var(--white-100));
}
#dataRequestContainer .wpl-datarequests .notice.notice-error {
  display: none;
}
#consentLogDataTabContainer .wpl-datarequests .notice.notice-error {
  display: none;
}
.name, .email, .resolved, .datarequest, .date, .actions_resolve_delete{
  color:var(--gray-700);
	font-size: var(--text-sm-font-size) !important;
	line-height: var(--text-sm-line-height);
	font-weight: var(--text-regular-font-weight) !important;
	font-family: 'Roboto', sans-serif;
	border:1px solid var(--gray-200);
	border-collapse: collapse;
}
#name, #email, #resolved, #datarequest, #date, #actions_resolve_delete{
	border:1px solid var(--gray-200);
	border-collapse: collapse;
}
#wpl-dnsmpd-filter-datarequest .row-actions{
  text-align: center;
}
.widefat tbody th.check-column{
	padding: 16px 0 0 3px;
  border:1px solid var(--gray-200);
}
.widefat .check-column{
	width: 4.2em;
}
.widefat th input ,.widefat thead td input {
	margin: 0 0 0 16px;
}
input[type=checkbox]{
	border: 1px solid var(--gray-200);
	height:20px;
	width:20px;
	box-shadow: none;
}
input[type=checkbox]:checked::before {
	margin: -1px 0px 0px -2px;
}
#actions_resolve_delete a{
  display: flex;
  justify-content: center;
}
.data-request-search-log{
  display: flex;
}