/* Data request report */

.wpl-content-area {
  background-color: white;
  padding: 30px;
}
.wpl-heading-export-consentlogs,.wpl-heading-export-datarequest{
    display: flex;
    justify-content: space-between;
}
.wp-heading{
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  margin-right: 20px !important;
}
#wpl-dnsmpd-filter-datarequest .sorting-indicators {
  display: none;
}
#wpl-dnsmpd-filter-datarequest .manage-column a span {
  color: #3F3F46;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#wpl-dnsmpd-filter-datarequest tbody td {
  color: #333;
  font-size: 13px;
  font-style: normal;
  font-weight: 480;
  line-height: normal;
}
#wpl-dnsmpd-filter-datarequest table thead tr th {
  padding: 10px;
}
#wpl-dnsmpd-filter-datarequest tbody tr td {
  padding: 15px;
}
#wpl-dnsmpd-filter-datarequest table {
  border-radius: 5px;
}
#wpl-dnsmpd-filter-datarequest table tfoot {
  display: none;
}
#wpl-dnsmpd-filter-datarequest table thead tr th a {
  pointer-events: none;
}

#wpl-dnsmpd-filter-datarequest .row-actions {
  left: 0;
}
#wpl-dnsmpd-filter-datarequest .row-actions .resolve a {
  color: #0059B3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-right:20px;
}
#wpl-dnsmpd-filter-datarequest .row-actions .delete a {
  color: #D92D20;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left:20px;
}

.datarequest.column-datarequest a {
  color: #39f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-and-export-container {
  display: flex;
  margin-bottom: 40px;
}
.search-and-export-container .search-box {
  float: none;
}
#wpl-dnsmpd-filter-datarequest .search-box #gdpr-cookie-consent-search-input-data-request {
  height: 36px;
  width: 349px;
  border:none;
}
#wpl-dnsmpd-filter-datarequest .search-box #gdpr-cookie-consent-search-input-data-request:focus{
  box-shadow: none;
}
#wpl-dnsmpd-filter-datarequest .search-box #search-submit-data {
  height: 40px;
  margin: 0 15px;
  color: #39f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 20px;
  border-color: #39f;
}
#search-submit-data{
  display: none;
}
.wpl_resolved_select_filter {
  width: 128px;
	height: 36px;
	margin-bottom: 20px;
	border-color: #C6C6C6;
	background-color: #D4D4D8 !important;
	font-family: "Poppins", sans-serif;
	color: #52525B !important;
	font-size: 12px !important;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
  margin-left:20px;
}
.wpl_resolved_select {
  right: 0;
  width: 120px;
  height: 40px;
  border-color: #c6c6c6;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#wpl-dnsmpd-filter-datarequest #bulk-action-selector-top,
#wpl-dnsmpd-filter-datarequest #bulk-action-selector-bottom {
  width: 128px;
	height: 36px;
	margin-bottom: 20px;
	border-color: #C6C6C6;
	background-color: #D4D4D8;
	font-family: "Poppins", sans-serif;
	color: #52525B;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#wpl-dnsmpd-filter-datarequest #doaction,
#wpl-dnsmpd-filter-datarequest #doaction2 {
  height: 36px;
	border-radius: 4px;
	border: 1px solid #7195D0;
	background: #FFFFFF;
	color: #2A4A7E;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 100px;
	margin-left: 6px;
  margin-right: 20px;
}

#wpl-dnsmpd-filter-datarequest .current-page,
#wpl-dnsmpd-filter-datarequest .next-page,
#wpl-dnsmpd-filter-datarequest .last-page {
  border-color: #3cf;
}

#wpl-dnsmpd-filter-datarequest .tablenav .tablenav-pages .button {
  min-width: 40px;
  min-height: 38px;
  line-height: 2.1;
}

#wpl-dnsmpd-filter-datarequest #current-page-selector-data-request {
  height: 38px;
}
#dataRequestContainer.wpl.wrap {
  margin: 0;
  border-radius: 4px;
  border-right: 1px solid var(--Gray-200, #e4e4e7);
  border-bottom: 1px solid var(--Gray-200, #e4e4e7);
  border-left: 1px solid var(--Gray-200, #e4e4e7);
  background: var(--white, #fff);
  border-top: 1px solid var(--Gray-200, #e4e4e7);
}
#dataRequestContainer .wpl-datarequests .notice.notice-error {
  display: none;
}
#consentLogDataTabContainer .wpl-datarequests .notice.notice-error {
  display: none;
}
.name, .email, .resolved, .datarequest, .date, .actions_resolve_delete{
  color:#3F3F46;
	font-size: 14px !important;
	line-height: 20px;
	font-weight: 400 !important;
	font-family: 'Roboto', sans-serif;
	border:1px solid #E4E4E7;
	border-collapse: collapse;
}
#name, #email, #resolved, #datarequest, #date, #actions_resolve_delete{
  background-color: #F4F4F5;
	border:1px solid #E4E4E7;
	border-collapse: collapse;
}
#wpl-dnsmpd-filter-datarequest .row-actions{
  text-align: center;
}
.widefat tbody th.check-column{
	padding: 16px 0 0 3px;
  border:1px solid #E4E4E7;
}
.widefat .check-column{
	width: 4.2em;
}
.widefat th input ,.widefat thead td input {
	margin: 0 0 0 16px;
}
input[type=checkbox]{
	border: 1px solid #E4E4E7;
	height:20px;
	width:20px;
	box-shadow: none;
}
input[type=checkbox]:checked::before {
	margin: -1px 0px 0px -2px;
}
#actions_resolve_delete a{
  display: flex;
  justify-content: center;
}