/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
body.post-type-wplconsentlogs .wrap .subsubsub {
	display: none;
}
body.post-type-wplconsentlogs .wrap span.subtitle {
	display: none;
}
body.post-type-wplconsentlogs .wrap .wplconsentlogsdetails table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
body.post-type-wplconsentlogs .wrap .wplconsentlogsdetails table td {
	margin: inherit;
	padding: inherit;
}
#wpcontent {
	background: #fff;
}
#gdpr-plugin-migrate {
	background: #C5E3BF;
	border: 1px solid #98A148;
	color: #000;
	margin: 0 0 20px 0;
	padding: 10px;
	display: none;
}

.vvv_combobox {
	width: 100%;
}
.vvv_textbox {
	height: 150px;
	width: 100%;
}
.form-table input[type="text"], .vvv_textfield {
	width:100%;
	margin-bottom: 5px;
}
.form-table.add-cookie, .form-table.post-cookie-list, .form-table.scan-cookie-list, .form-table.script-blocker-list {
	border-top: 1px solid #ddd;
}
.form-table.add-cookie th, .form-table.post-cookie-list th, .form-table.scan-cookie-list th, .form-table.script-blocker-list th {
	vertical-align: top;
	padding: 10px 5px;
	width: unset;
}
.form-table.add-cookie td, .form-table.post-cookie-list td, .form-table.scan-cookie-list td, .form-table.script-blocker-list td {
	margin-bottom: 5px;
	vertical-align: top;
	padding: 10px 5px;
}
.form-table.script-blocker-list td {
	vertical-align: middle;
}
.gdpr-plugin-example{
	display: block;
}
#cookielawinfo-accordion h4 {
	border-bottom: 1px solid #ccc;
	line-height: 110%;
	padding: 5px;
}
#cookielawinfo-accordion h4 code {
	padding-left: 40px;
	background: transparent;
}
.pull-right{ float: right; }
.gdpr-help pre {
	font-weight: bold;
}
.gdpr-help span {
	margin: 0 0 30px 15px;
	display: block;
}
.gdpr-plugin-toolbar {
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
}
.gdpr-plugin-toolbar .left {
	float: left;
	margin: 0;
	padding: 0;
}
.gdpr-plugin-toolbar .left img {
	vertical-align: text-bottom;
	margin-right: 10px;
}
.gdpr-plugin-toolbar .right {
	float: right;
	margin: 0 10px 0 0;
	padding: 0;
}
.gdpr-plugin-toolbar.top {
	margin-bottom: -5px;
}
.gdpr-plugin-toolbar.bottom {
	margin-top: 12px;
}
.gdpr-plugin-toolbar.top {
	margin-top:-15px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
	padding:15px;
}
#header_on_off_field_warning {
	margin-left: 30px;
}
.warning { /* called by jQuery in admin-ui-controller.js */
	color: #f00;
	font-weight: bold;
}
.gdpr-plugin-container {
	overflow: hidden;
	width: 100%;
}
.gdpr-plugin-left-col {
	float: left;
	padding-bottom: 500em;
	margin-bottom: -500em;
}
.gdpr-plugin-right-col {
	float: left;
	margin-right: -1px; /* For IE */
	padding-bottom: 500em;
	margin-bottom: -500em;
}

.gdpr-plugin-container.width-50 { width: 50%; }
.gdpr-plugin-container.width-60 { width: 60%; }
.gdpr-plugin-container.width-70 { width: 70%; }
.gdpr-plugin-container.width-80 { width: 80%; }
.gdpr-plugin-container.width-90 { width: 90%; }
.gdpr-plugin-left-col.width-50, .gdpr-plugin-right-col.width-50 { width: 50%; }
.gdpr-plugin-left-col.width-62, .gdpr-plugin-right-col.width-62 { width: 62%; } /* Golden Ratio */
.gdpr-plugin-left-col.width-38, .gdpr-plugin-right-col.width-38 { width: 38%; } /* Golden Ratio */
.gdpr-plugin-left-col.width-f220, .gdpr-plugin-right-col.width-f220 { width: 220px; }
.gdpr-plugin-container div.pad-5, .gdpr-plugin-left-col div.pad-5, .gdpr-plugin-right-col div.pad-5 { padding: 5px; }
.gdpr-plugin-container div.pad-10, .gdpr-plugin-left-col div.pad-10, .gdpr-plugin-right-col div.pad-10 { padding: 10px; }
.width-60 { width: 60%; }
.width-100 { width: 100%; }

.hr-top { border-top: 1px solid #ccc; }
.hr-bottom { border-bottom: 1px solid #ccc; }





table.gdpr_script_items{
	position:relative
}
table.gdpr_script_items td,table.gdpr_script_items th{
	display:table-cell!important;
	padding:1em!important;
	vertical-align:top;
	line-height:1.75em
}
table.wc_emails.wc_emails td,table.gdpr_script_items.wc_emails td,table.wc_shipping.wc_emails td{
	vertical-align:middle
}
table.gdpr_script_items tr:nth-child(odd) td{
	background:#f9f9f9
}
table.gdpr_script_items td.name{
	font-weight:700
}
table.wc_emails .settings,table.gdpr_script_items .settings,table.wc_shipping .settings{
	text-align:right
}
table.wc_emails .default,table.wc_emails .radio,table.wc_emails .status,table.gdpr_script_items .default,table.gdpr_script_items .radio,table.gdpr_script_items .status,table.wc_shipping .default,table.wc_shipping .radio,table.wc_shipping .status{
	text-align:center
}
table.wc_emails .default .tips,table.wc_emails .radio .tips,table.wc_emails .status .tips,table.gdpr_script_items .default .tips,table.gdpr_script_items .radio .tips,table.gdpr_script_items .status .tips,table.wc_shipping .default .tips,table.wc_shipping .radio .tips,table.wc_shipping .status .tips{
	margin:0 auto
}
table.wc_emails .default input,table.wc_emails .radio input,table.wc_emails .status input,table.gdpr_script_items .default input,table.gdpr_script_items .radio input,table.gdpr_script_items .status input,table.wc_shipping .default input,table.wc_shipping .radio input,table.wc_shipping .status input{
	margin:0
}
table.wc_emails td.sort,table.gdpr_script_items td.sort,table.wc_shipping td.sort{
	cursor:move;
	font-size:15px;
	text-align:center
}
table.wc_emails td.sort::before,table.gdpr_script_items td.sort::before,table.wc_shipping td.sort::before{
	content:'\f333';
	font-family:Dashicons;
	text-align:center;
	line-height:1;
	color:#999;
	display:block;
	width:17px;
	float:left;
	height:100%;
	line-height:24px
}
table.wc_emails .wc-payment-gateway-method-name,table.gdpr_script_items .wc-payment-gateway-method-name,table.wc_shipping .wc-payment-gateway-method-name{
	font-weight:400
}
table.wc_emails .wc-email-settings-table-name,table.gdpr_script_items .wc-email-settings-table-name,table.wc_shipping .wc-email-settings-table-name{
	font-weight:700
}
table.wc_emails .wc-email-settings-table-name span,table.gdpr_script_items .wc-email-settings-table-name span,table.wc_shipping .wc-email-settings-table-name span{
	font-weight:400;
	color:#999;
	margin:0 0 0 4px!important
}
table.wc_emails .wc-payment-gateway-method-toggle-disabled,table.wc_emails .gdpr-script-items-toggle-enabled,table.gdpr_script_items .wc-payment-gateway-method-toggle-disabled,table.gdpr_script_items .gdpr-script-items-toggle-enabled,table.wc_shipping .wc-payment-gateway-method-toggle-disabled,table.wc_shipping .gdpr-script-items-toggle-enabled{
	padding-top:1px;
	display:block;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none
}
table.wc_emails .wc-email-settings-table-status,table.gdpr_script_items .wc-email-settings-table-status,table.wc_shipping .wc-email-settings-table-status{
	text-align:center;
	width:1em
}
table.wc_emails .wc-email-settings-table-status .tips,table.gdpr_script_items .wc-email-settings-table-status .tips,table.wc_shipping .wc-email-settings-table-status .tips{
	margin:0 auto
}
.gdpr-input-toggle{
	height:16px;
	width:32px;
	border:2px solid #935687;
	background-color:#935687;
	display:inline-block;
	text-indent:-9999px;
	border-radius:10em;
	position:relative;
	margin-top:-1px;
	vertical-align:text-top
}
.gdpr-input-toggle:before{
	content:"";
	display:block;
	width:16px;
	height:16px;
	background:#fff;
	position:absolute;
	top:0;
	right:0;
	border-radius:100%
}
.gdpr-input-toggle.gdpr-input-toggle--disabled{
	border-color:#999;
	background-color:#999
}
.gdpr-input-toggle.gdpr-input-toggle--disabled:before{
	right:auto;
	left:0
}
.gdpr-input-toggle.gdpr-input-toggle--loading{
	opacity:.5
}
.gdpr-cookie-consent-tab-head{ margin-right:0px;}
.gdpr-cookie-consent-tab-container{
	background: #fff;
	box-sizing:border-box;
	width:100%;
	height:auto;
}
.gdpr-cookie-consent-tab-head .nav-tab-active{ background: #fff; border-bottom: solid 1px #fff; }
.gdpr-cookie-consent-tab-head .nav-tab:focus{ box-shadow:none;}
.gdpr-cookie-consent-tab-content{ display:none;width:100%; height:auto; }
.gdpr_sub_tab_container, .gdpr_cookie_sub_tab_container{width:100%; height:auto;border-bottom:1px solid #ccc;}
.gdpr_sub_tab, .gdpr_cookie_sub_tab{ display:inline-block; margin:0px; float:left; width:100%; height:auto;}
.gdpr_cookie_sub_tab { margin-top:15px; }
ul.gdpr_cookie_sub_tab li:first-child,
ul.gdpr_sub_tab li:first-child{
	border-left:none;padding-left:0px;
}
.gdpr_sub_tab li, .gdpr_cookie_sub_tab li{ display:inline-block; border-left: solid 1px #ccc; padding:3px 10px; cursor: pointer;}
ul.gdpr_cookie_sub_tab li:first-child, ul.gdpr_sub_tab li:first-child{ border-left:none;padding-left:0px; }
.gdpr_sub_tab_content, .gdpr_cookie_sub_tab_content{ display: none; width:100%; height:auto; }
.gdpr-shortcodes li{margin-bottom:20px; border-bottom: dashed 1px #ccc; padding-bottom:7px; margin-left: 15px;}
.gdpr-shortcodes li div{ font-weight: bold; width: 100%; }
.gdpr-shortcodes li span{ display: inline-block;}
.gdpr-help-links li{ float:left; padding:40px; margin:20px; display: inline-block; text-align: center; box-shadow:1px 1px 5px 1px rgba(0,0,0,.1); width: 185px; height: 245px;}
.gdpr-help-links li a{ text-decoration: none; height: 28px !important; margin-top: 20px; }
.gdpr-help-links li img{
	margin-top: 15px;
}
/* copied from bootstrap */
.gdpr_sub_tab_container input[type="text"], .gdpr_sub_tab_container select,
.gdpr_cookie_sub_tab_container input[type="text"], .gdpr_cookie_sub_tab_container select,
.gdpr_sub_tab_container input[type="password"] {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; height: auto !important;
}
.gdpr-cookie-consent-tab-container .button-primary
{
	height:34px;
	font-size: 14px;
	font-weight: 400;
}
.notify_msg{ position:fixed; width:300px; padding:15px; color:#fff; right:60px; top:0px; opacity:0; box-shadow:0px 2px 2px #ccc; border-radius:5px;}
.gdpr-indent-15{  }
.gdpr-indent-15 th{ padding-left: 15px; }
.gdpr_notify_table{ height:60px;}
.gdpr-cookie-consent-form-container{
	padding:15px;
	background: #fff; box-shadow:0px 2px 2px #ccc;
}
.gdpr_non_necessary_form label{ width:100%; display: inline-block; font-weight: bold; margin-bottom: 10px; margin-top: 15px;  }
.gdpr_non_necessary_form .gdpr_form_help{ color: #aaa; font-style: italic; font-weight:250; font-size: 12px; }
.gdpr_settings_left{ width:75%;margin-bottom: 25px;float:left; }
.gdpr_settings_right{ width:25%; float: right; }
.gdpr_form_help{ color: #aaa; font-style: italic; font-weight:250; font-size: 12px; display: inline-block; width: 100%; }
.gdpr_form_er{ color:red; font-style: italic; font-weight:300; font-size: 12px; display: inline-block; width: 100%;}
.gdpr_scroll_accept_er{ display: none; }
.gdpr_premium_features{ font-size:14px; }

.gdpr_scanbar{width:100%; box-sizing: border-box; height:auto; float: left; padding:15px 0px;}
.gdpr_postbar{width:100%; box-sizing: border-box; height:auto; float: left; padding:15px 0px;}
.gdpr_scanlog{width:100%; box-sizing: border-box; height:auto; float: left; padding:10px; background: #fff; display: none;}
.gdpr_progress_bar{ width:100%; box-sizing: border-box; background: #f1f1f1; height:30px; border-radius:10px; }
.gdpr_progress_bar_inner{float:left; height:30px; width:0%; background:#0085ba; color: #fff; text-align: center; line-height: 30px; border-radius:10px;}
.gdpr_progress_action_main{width: 100%; padding: 5px 0px;}
.gdpr_custom_ajax_log{ margin-top:5px; height: 225px; overflow:auto;}
.gdpr_scanlog_bar{width:100%; box-sizing: border-box; height:40px; padding-top:10px; float: left; line-height: 30px;}
.gdpr_stop_scan{ margin-right: 10px; }
.gdpr_existing_cookie_list{ margin:20px 0px; }
.gdpr_scanbar_staypage{ display: none; }

@media screen and (max-width:1210px) {
	.gdpr_settings_left{ width:100%;}
	.gdpr_settings_right{ padding-left:0px; width:100%;}
}

.gdpr_add_cookie, .gdpr_scan_now, .gdpr_save_cookie, .gdpr_delete_cookie, .gdpr_delete_post_cookie {
	text-decoration: underline;
	cursor: pointer;
	font-size: 16px;
}

.gdpr_save_cookie, .gdpr_delete_cookie, .gdpr_delete_post_cookie {
	font-size: 12px;
}
.gdpr_save_cookie {
	margin-right: 5px;
}

.post-cookie-list, .scan-cookie-list, .add-cookie, .script-blocker-list {
	padding-top: 15px;
	padding-bottom: 15px;
	display: grid;
	grid-template-columns: 0.15fr 1fr;
}
.script-blocker-list {
	grid-template-columns: 1fr;
}
.post-cookie-list div.left,
.scan-cookie-list div.left,
.add-cookie div.left,
.script-blocker-list div.left {
	float: left;
	height: 85px;
	line-height: 85px;
	border: 2px solid #0073aa;
	border-radius: 5px;
	text-align: center;
}
.post-cookie-list div.left > span.cookie-text,
.scan-cookie-list div.left > span.cookie-text,
.add-cookie div.left > span.cookie-text {
	display: inline-block;
	color: #0073aa;
	font-size: 60px;
	font-weight: 600;
}
.post-cookie-list div.right,
.scan-cookie-list div.right,
.add-cookie div.right,
.script-blocker-list table.right {
	float: right;
}
.script-blocker-list table.right {
	border: 1px solid #ccc;
	border-spacing: 1px;
}
.post-cookie-list div.right .input-box,
.scan-cookie-list div.right .input-box,
.add-cookie div.right .input-box {
	margin-left: 15px;
}
.post-cookie-list div.right > div,
.scan-cookie-list div.right > div,
.add-cookie div.right > div {
	display: grid;
}
.post-cookie-list div.right > div.right-grid-1,
.scan-cookie-list div.right > div.right-grid-1,
.add-cookie div.right > div.right-grid-1 {
	grid-template-columns: 1fr 1fr;
}
.post-cookie-list div.right > div.right-grid-2,
.scan-cookie-list div.right > div.right-grid-2,
.add-cookie div.right > div.right-grid-2 {
	grid-template-columns: 1fr 1fr 1fr;
}
.post-cookie-list div.right > div.right-grid-3,
.scan-cookie-list div.right > div.right-grid-3,
.add-cookie div.right > div.right-grid-3 {
	grid-template-columns: 1fr;
}
.script-blocker-list table.right tr.right-grid-6.header,
.script-blocker-list table.right tr.right-grid-6.even {
	background: #e5e5e5;
}
.post-cookie-list div.right input,
.scan-cookie-list div.right input,
.add-cookie div.right input,
.post-cookie-list div.right select,
.scan-cookie-list div.right select,
.add-cookie div.right select {
	height: 35px !important;
	padding: 7px;
	font-size: 14px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	margin-bottom: 15px;
	box-shadow: unset;
}
.post-cookie-list div.right textarea,
.scan-cookie-list div.right textarea,
.add-cookie div.right textarea {
	height: 70px;
	border: 1px solid #eaeaea;
	box-shadow: unset;
}
.post-cookie-list div.right input:disabled,
.scan-cookie-list div.right input:disabled,
.add-cookie div.right input:disabled,
.post-cookie-list div.right select:disabled,
.scan-cookie-list div.right select:disabled,
.add-cookie div.right select:disabled {
	background: #f8f8f8;
	color: #aaa;
}
.gdpr-template-type td > img {
	border: 1px solid #ced4da;
}
.script-blocker-list .switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.script-blocker-list .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.script-blocker-list .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.script-blocker-list .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.script-blocker-list input:checked + .slider {
	background-color: #2196F3;
}

.script-blocker-list input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.script-blocker-list input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.script-blocker-list .slider.round {
	border-radius: 34px;
}

.script-blocker-list .slider.round:before {
	border-radius: 50%;
}
.script-blocker-list .script_status_switch {
	text-align: center;
}
/* Getting started page css */
.gdpr-getting-started {
	background: #fff;
	padding: 2em;
	border: 1px solid #f1f1f1;
}
.gdpr-getting-started > div {
	padding-bottom: 1em;
}
.gdpr-getting-started p,
.gdpr-getting-started a,
.gdpr-getting-started ul li {
	font-size: 14px;
	line-height: 20px;
}
.gdpr-getting-started ul {
	list-style: disc;
	padding: 0 2em;
}
.gdpr-getting-started a:focus,
.gdpr-getting-started button.focus,
.gdpr-getting-started button:focus,
.gdpr-getting-started button-primary.focus,
.gdpr-getting-started button-primary:focus{
	box-shadow: none !important;
}
