.wp_legalpolicy {
	overflow-x:scroll;
	overflow:auto;
}
.wp_legalpolicy table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}
.wp_legalpolicy table td,
.wp_legalpolicy table th {
	padding: 0.5em;
	word-break: unset;
}
