/* #wpbody {
	background-color: #F6FAFF;
	margin-left: -32px;
}

#wpbody-content {
	float: none !important;
} */

#gdpr-dashboard-loader {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	z-index: 999;
}

#gdpr-cookie-consent-dashboard-page {
	background-color: #F0F0F1;
	/* margin-left: -20px; */
	/* padding: 32px 0; */
	/*font-family: 'Lato', sans-serif;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 14px;
	line-height: 20px;
	min-height: 750px;
	color: #3c4b64;
	min-width: 100%;
	max-width: 100%;
}

.gdpr-cookie-consent-dashboard-container {
	/* margin-left: 4%; */
	/* padding-right: 3%; */
	max-width: 100% !important;
}

.gdpr-progress-bar-card {
	min-width: 100%;
	max-width: 100%;
}

.gdpr-progress-heading {
	font-size: 1.5rem;
}

.gdpr-progress-bar-buttons {
	display: flex;
	justify-content: end;
}

.gdpr-progress-bar-button {
	margin-left: 1rem;
}

.gdpr-progress-bar-button:hover {
	background-color: #ffffff;
	color: #39f;
}

.gdpr-progress-bar-button:active {
	background-color: #ffffff !important;
	color: #39f !important;
}

.gdpr-progress-bar-button:focus-visible {
	outline: none;
}

.gdpr-progress-circle-column {
	background-color: #F6FAFF;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
}

.ep-legend--container {
	margin-top: 2rem;
	font-weight: 300;
}

.ep-legend--value {
	margin-bottom: 1.5rem;
	font-weight: 300;
}

.gdpr-progress-circle-caption {
	font-size: 1.25rem;
	font-weight: 300;
	margin-left: -0.5rem;
}

.gdpr-progress-list-column {
	padding: 1.5rem;
}

.gdpr-progress-list-column {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.gdpr-progress-list-item {
	padding: 0.5rem;
	width: 100%;
	justify-content: end;
	margin-bottom: 0.7rem;
	display: flex;
	justify-content: start;
}

.gdpr-green-progress {
	background-color: #daf2cb;
	border-left: 2px solid #68cb26;
	color: #68cb26;
}

.gdpr-gray-progress {
	background-color: #ececec;
	border-left: 2px solid #7f7f7f;
	color: #7f7f7f;
}

.gdpr-progress-list-link {
	color: #39f;
	text-decoration: none;
}

.gdpr-progress-list-link:focus {
	outline: none;
	box-shadow: none;
}

.gdpr-progress-list-link:active {
	color: #39f !important;
}

.gdpr-progress-list-link:hover {
	color: #39f;
	text-decoration: none;
}

.gdpr-dashboard-quick-links-card {
	min-width: 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.gdpr-dashboard-quick-links-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border-bottom: 1px solid #f2f2f2; */
	padding-left: 3.25rem;
	padding-right: 3.25rem;
}

.gdpr-dashboard-quick-links-body {
	padding-bottom: 20px;
}

.gdpr-quick-links-images-row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	justify-items: center;
	justify-content: space-between;
	margin-top: 15px;
}

.gdpr-quick-link-image {
	width: 48px;
	height: 48px;
}

.gdpr-upgrade-pro-button:hover {
	background-color: #fff;
	color: #39f !important;
}

.gdpr-upgrade-pro-button:active {
	background-color: #fff !important;
	color: #39f !important;
}

.gdpr-upgrade-pro-button:focus-visible {
	outline: none;
}

.gdpr-upgrade-pro-button:focus {
	color: #39f;
	background-color: #ffffff;
}

.gdpr-progress-bar-class .ep-svg-container > svg {
	filter: drop-shadow( -1px 0 4px rgba(177, 214, 248, 0.8));
}

.gdpr-quick-link-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid #D4D4D8;
	border-radius: 4px;
	/* max-height: 200px;
	max-width: 280px; */
	padding: 35px 30px;
}

.gdpr-quick-link-caption {
	/* margin-top: 0.75rem !important; */
	margin-top: 15px;
	font-size: 16px;
	font-weight: 500;
}

.gdpr-quick-link-description{
	margin-top: 6px;
	max-width: 222px;
}

.gdpr-dashboard-quick-links-heading {
	font-size: 1.5rem;
	margin: 20px;
	margin-left: 40px;
}

.gdpr-quick-link:focus {
	box-shadow: none;
	outline: none;
}

.gdpr-dashboard-promotional-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	min-width: 100%;
	max-width: 100%;
	grid-column-gap: 4%;
}

.gdpr-dashboard-promotional-cards-insights{

	display: grid;
	grid-template-columns: 1fr 1fr;
	min-width: 100%;
	max-width: 100%;
	grid-column-gap: 4%;

}

.gdpr-dashboard-promotional-card {
	padding-left: 0;
	padding-right: 0;
	min-width: 100%;
	max-width: 100%;
}

.gdpr-dashboard-promotional-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
	padding-left: 3.25rem;
	padding-right: 3.25rem;
}

.gdpr-dashboard-promotional-heading {
	font-size: 1.5rem;
}

.gdpr-dashboard-faq-row {
	margin-bottom: 1.25rem;
	padding-left: 3.25rem;
}

.gdpr-dashboard-faq-link {
	color: #3c4b64;
	text-decoration: none;
	margin-left: 1rem;
}

.gdpr-dashboard-faq-link:hover {
	color: #3c4b64;
	text-decoration: none;
}

.gdpr-dashboard-faq-link:focus {
	box-shadow: none !important;
	outline: none;
}

.gdpr-dashboard-plugins-row {
	margin-bottom: 1.25rem;
	padding-left: 3.25rem;
	padding-right: 3.25rem;
	display: flex;
	justify-content: space-between;
}

.gdpr-dashboard-plugins-link {
	color: #39f;
	text-decoration: none;
	margin-left: 1rem;
}

.gdpr-dashboard-plugins-link:hover {
	color: #39f;
	text-decoration: none;
}

.gdpr-dashboard-plugins-link:focus {
	box-shadow: none !important;
	outline: none;
	color: #39f;
}

.gdpr-dashboard-plugins-icon {
	width: 25px;
}

.gdpr-dashboard-disabled-icon {
	padding: 0;
	border: none !important;
}

.gdpr-dashboard-disabled-icon:focus-visible {
	outline: none !important;
	box-shadow: none !important;
	cursor: none;
}

.gdpr-dashboard-disabled-icon:focus {
	outline: none !important;
	box-shadow: none !important;
	cursor: none;
}

.gdpr-dashboard-promotional-card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gdpr-dashboard-all-plugins-row {
	padding-left: 3.25rem;
	padding-right: 3.25rem;
	display: flex;
	justify-content: flex-end;
}

.gdpr-progress-view-plugins-link {
	color: #39f;
	text-decoration: none;
	background-color: #ffffff !important;
}

.gdpr-progress-view-plugins-link:focus {
	outline: none;
	box-shadow: none;
}

.gdpr-progress-view-plugins-link:active {
	color: #39f !important;
	background-color: #ffffff !important;
}

.gdpr-progress-view-plugins-link:hover {
	color: #39f;
	background-color: #ffffff !important;
	text-decoration: none;
}

.consent-log-card{
	grid-area: 1 / 1 / 3 / 2;
}

.tips-n-trick-card{
	grid-area: 1 / 2 / 2 / 3;
}
.gdpr-cookie-summary-body{
	display: flex;
	flex-direction: row;
	padding: 0px;
}
.gdpr-cookie-summary-icon{
	height: 135px;
	width: 98px;
}

.gdpr-cookie-summary{
	display: flex;
	flex-direction: row;
	column-gap: 30px;
	padding: 15px 48px;
    border-right: solid 1px #E4E4E7;
}
.gdpr-cookie-summary-last-scan-icon{
	width:	20px;
	height: 20px;
}
.gdpr-cookie-summary-manage-cookies-icon{
	width:	14px;
	height: 14px;
	margin: 3px;
}
.gdpr-cookie-summary-last-scan{
	display: flex;
    padding: 10px;
    border: solid 1px #3399FF;
    border-radius: 6px;
    margin-bottom: 10px;
	flex-grow: 1;
	align-items: center;
}
.gdpr-cookie-summary-last-title{
	margin-left: 10px;
}
.gpdr-cookie-no-total-cookies{
	color: #3C4B64;
	text-align: center;
	font-size: 35px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.gpdr-cookie-no-total-text{
	color: #3C4B64;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.gdpr-cookie-summary-manage-cookies{
	display: flex;
	justify-content: flex-end;
	border-top: solid 1px #E4E4E7;
}

.gdpr-cookie-summary-manage-cookies>div{
	display: flex;
	border-radius: 4px;
	padding: 6px 10px 6px 10px;
	background-color: #3399FF;
	color: #fff;
	margin-right: 55px;
	margin-top: 14px;
}

.gdpr-cookie-summary-heading{
	color: #3C4B64;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.gdpr-cookie-summary-dynaminc-values{
	color: #3C4B64;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.gdpr-cookie-summary-schedule{
	padding-left: 15px;
	color: #39F;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: underline;
}

.gdpr-cookie-summary-details{
 margin: 15px auto;
}

.gdpr-cookie-summary-schedule:hover{
	color: rgb(67, 135, 203);
	text-decoration: none;
}
.gdpr-cookie-summary-manage-link{
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-right: 5px;
}
.gdpr-cookie-summary-manage-link:hover{
	text-decoration: none;
	color: #fff;
}
.gdpr-cookie-summary-total-cookie-details {
	position: relative;
}

.gpdr-cookie-summary-total-cookies,.gpdr-cookie-summary-scan-cat {
	position: absolute;
	top: 31%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.gdpr-dashboard-no-insights-found{
	padding-top: 20%;
	color: #3C4B64;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

/* pie chart styling  */

.apexcharts-legend-text{
	margin-left: -7px;
	color: #3C4B64;
	font-size: 13px !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
	top: 50px !important;
	right: -15px !important;
}
.gdpr-consent-log-dashboard thead{
	background: #F5F5F5;
}
.gdpr-consent-log-dashboard th {
	color: #000;
	text-align: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 19px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.gdpr-consent-log-dashboard{
	border-radius: 9px 9px 0px 0px !important;
	border-bottom: 1px solid #7e2e2e !important;
	margin: 20px 0;
	border-radius: 10px !important;
	border: 1px solid #2a2020 !important;
	background: #FFF;
	box-shadow: 0 1.96875px 6.475px 0 rgba(0, 0, 0, 0.02), 0 9px 18.2px 0 rgba(0, 0, 0, 0.03), 0 22.78125px 48.825px 0 rgba(0, 0, 0, 0.04), 0 45px 112px 0 rgba(0, 0, 0, 0.06) !important;
	overflow: hidden;
}
.gdpr-consent-log-dashboard tbody tr td {
	text-align: center;
	padding-top: 20px;
    padding-bottom: 20px;
}
.gdpr-consent-log-dashboard tbody tr{
	border-bottom: 1px solid #D9D7D7;
}

.gdpr-dashboard-cl-view-all-logs{
	float:right;
	padding-top: 25px;
}

.gdpr-cookie-summary-view-all-logs{
	width: 22.49px;
	height: 24px;
}

.gdpr-dashboard-cl-view-all-logs-text{
	color: #39F;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-right: 5px;
}
.gdpr-dashboard-cl-view-all-logs-text:hover{
	color: rgb(67, 135, 203);
	text-decoration: none;
}


.gdpr-consent-log-dashboard tbody tr .wplconsentlogsip{
	border-right: 1px solid #D9D7D7;
}
.gdpr-consent-log-dashboard tbody tr{
	background-color: #fff !important;
}

.gdpr-dashboard-no-insights{
	display: flex;
}

.gdpr-dashboard-no-insights-circle {
	width: 250px;
	height: 250px;
	background-color: #ECECEC;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	font-weight: 400;
	margin-top: 15px;
	margin-left: 40px;
}
.gdpr-dashboard-small-circle {
	width: 12px;
	height: 12px;
	background-color: #DAF2CB;
	border-radius: 50%;
	margin-top: 4px
}
.gdpr-dashboard-no-insights-series-labels{
	padding-left: 65px;
	padding-top: 50px;
}
.gdpr-dashboard-no-insights-series-acc{
	display: flex;
	padding-bottom: 4px;
}
.gdpr-dashboard-label-text{
	color: #3C4B64;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 10px;
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-right{
	pointer-events: none;
}
.apexcharts-tooltip.apexcharts-theme-dark{
	color: #3C4B64;
}
#gdpr-cookie-consent-dashboard-page .gdpr-cookie-consent-dashboard-container.gdpr-admin-dashaboard-template.container{
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}
#gdpr-cookie-consent-dashboard-page .gdpr-cookie-consent-dashboard-container.gdpr-admin-dashaboard-template.container .card.gdpr-progress-bar-card{
	margin-top: 0;
}

#gdpr-cookie-consent-dashboard-page .gdpr-cookie-consent-dashboard-container.container{
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

#gdpr-cookie-consent-dashboard-page .gdpr-cookie-consent-dashboard-container .card.gdpr-progress-bar-card{
	margin-top: 0;
}

#dataRequestContainer .gdpr-maxmind-notice {
	display: none;
}
