/**
 * All of the CSS for your deactivate popup functionality should be
 * included in this file.
 */

.gdpr-deactivate-popup-form-wrapper-outer{
      display: none;
  }
  
  .gdpr-deactivate-popup-form-title{
    font-weight: 600;
    font-size:14px;
    margin:5px 0;
      border-bottom:1px solid #d9d9d9;
      padding:16px 10px;
      margin:0;
  }
  
  .gdpr-deactivate-popup-form-wrapper{
      display: flex;
      font-family: sans-serif;
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      justify-content: center;
      align-items: center;
  }
  .gdpr-deactivate-popup-form{
      display: flex;
      width: 500px;
      flex-direction:column;
      background-color:#fff;
      justify-content:space-between;
    }
    
    .gdpr-deactivate-popup-inputs{
      padding: 0px 10px;
      font-size: 14px;
      color: black;
    }
  
  .gdpr-deactivate-input-choices{
    display:flex;
    align-items:center;
    margin: 5px 0;
  }
  
    .gdpr-deactivate-popup-inputs input{
      margin: 5px;
    }
  
  .gdpr-gdpr-deactivate-popup-form-buttons-wrap{
      background-color: #f1f1f1;
      border-top:1px solid #d9d9d9;
      padding: 16px;
  }
  
    .gdpr-deactivate-popup-form-buttons{
      display: flex;
      justify-content: space-between;
    }
    
    .gdpr-deactivate-popup-form-buttons div{
      font-size:12px;
    }
  
  .gdpr-deactivate-popup-form-buttons button{
    padding: 8px 20px;
    margin: 0;
    font-size:16px;
    border-radius: 4px;
    border: none;
  }
  
  .gdpr-deactivate-popup-form-buttons>.gdpr-deactivate-delete-button{
      color: #fff;
      background-color: #930000;
      border-color: #7a0000;
      display: none;
  }
  
  .gdpr-deactivate-popup-form-buttons>.gdpr-deactivate-button{
      color: #fff;
      background-color: #1B719E;
      border-color: #005e85;
  }
  
  .gdpr-deactivate-popup-form-buttons>.gdpr-cancel-button{
      color: #1B719E;
      background-color: #fff;
      border: solid 1px #1B719E;
  }
  .gdpr-deactivate-popup-form-description{
    padding:0 17px;
  }
  .gdpr-deactivate-popup-form-description-content{
    font-size: 14px;
    color:black;
  }
  .gdpr-deactivate-delete-button:hover{
    background-color: rgb(226, 92, 92);
  }
  .gdpr-deactivate-button:hover{
    background-color: #143442;
  }
  .gdpr-cancel-button:hover{
    background-color: rgb(201, 199, 199);
  }