#wpl-cookie-consent-integrations-alert {
	position: fixed;
	background-color: #72b85c;
	padding: 10px;
	width: 200px;
	font-size: var(--text-lg-font-size);
	text-align: center;
	border-radius: 5px;
	display: none;
	color: var(--white-100);
	margin-left: 50%;
	margin-top: 1%;
	top: 13%;
	z-index: 9999;
}

#wpl-cookie-consent-integrations-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--white-100);
}

.wpl_integrations_spinner {
	display:block;
	position: fixed;
	margin: 10px 0px;
	left: 50%;
	top: 50%;
	height: 70px;
	width: 70px;
}

#wpl-cookie-consent-overlay {
	position: absolute;
	display: none;
	width: 100%;
	height: 98%;
	background-color: rgba(0,0,0,0.25);
	z-index: 2;
	left:3px;
}

#wpl-cookie-consent-integrations-page {

	background-color: var(--white-100);
	/* margin-left: -20px; */
	padding: 32px 0;
	/*font-family: 'Lato', sans-serif;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: var(--text-sm-font-size);
	line-height: var(--text-sm-line-height);
	min-height: 750px;
	color: var(--blue-903);
	border-radius: 4px;
	border-right: 1px solid var(--gray-200, var(--gray-200));
	border-bottom: 1px solid var(--gray-200, var(--gray-200));
	border-left: 1px solid var(--gray-200, var(--gray-200));
	border-top: 1px solid var(--gray-200, var(--gray-200));
}

.wpl-cookie-consent-page-name {
	width: 100%;
	margin: auto;
}

.wpl-cookie-consent-integrations-form-container {
	background-color: var(--white-100);
	width: 894px;
	margin-top: 1rem;
	padding: 1.5rem 2rem;
	left: -63px;
    top: -11px;
	margin-left:34px;
}
.wpl-cookie-consent-integrations-form .row .col-sm-8 col{
	left : -107px;
}
.wpl-cookie-consent-integrations-form-container .row {
	margin-bottom: 0.5rem;
}

.wpl-cookie-consent-datbase-input {
	width: 75% !important;
}


.wpl-cookie-consent-integrations-form-container .c-switch {
	margin-bottom: 1rem;
}

.wpl-cookie-consent-register-area {
    padding: 9px;
    width: 100%;
    font-size: var(--text-xs-font-size-rem);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    gap: 7.87px;
    box-shadow: 
        0 0.32px 1.31px 0 rgba(12, 62, 138, 0.0139),
        0 0.88px 3.63px 0 rgba(12, 62, 138, 0.02),
        0 2.11px 8.74px 0 rgba(12, 62, 138, 0.0261),
        0 7px 29px 0 rgba(12, 62, 138, 0.04);
}

#wpl-cookie-consent-register-area-description1,#wpl-cookie-consent-register-area-description2,#wpl-cookie-consent-support-text{
	font-family: 'Roboto', sans-serif;
	font-weight: var(--text-regular-font-weight) ;
	font-size: var(--text-sm-font-size) ;
	line-height: var(--text-sm-line-height);
	color:  var(--gray-600);
}
.wpl-cookie-consent-register-area-logo{
	padding-left: 17.88px;
}

#wpl-cookie-consent-license-input{
	padding-left: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: var(--text-regular-font-weight) ;
	font-size: var(--text-xs-font-size);
	line-height: var(--text-xs-line-height);
}

#wpl-cookie-consent-database-input{
	background-color: var(--gray-100);
    padding-left: 16px;
}

.wpl-cookie-consent-register-row {
	margin-top: 2rem;
}

.wpl-cookie-consent-documentation-row {
	margin-top: 2.5rem;
}

.wpl-cookie-consent-link {
	color: var(--blue-904);
	text-decoration: none;
	font-weight: var(--text-regular-font-weight) !important;
}

#guide-btn-integration{
	font-family: 'Roboto', sans-serif;
	font-weight: var(--text-regular-font-weight);
	font-size: var(--text-xl-font-size);
	line-height: var(--text-sm-line-height);
	color: var(--gray-800);
	margin-bottom: 10px;
}

.integraton-steps-description{
	font-family: 'Roboto', sans-serif;
	font-weight: var(--text-regular-font-weight) ;
	font-size: var(--text-base-font-size);
	line-height: var(--text-sm-line-height);
	color: var(--gray-500);
}

#Geotargeting{
	display: flex;
	justify-content: space-between;
}

.wpl-cookie-consent-link:hover {
	color: var(--blue-904);
	text-decoration: none;
}

.wpl-cookie-consent-video-row {
	margin-top: 30px;
}

.integraiton-youtube-video-iframe{
	height: 257px;
    width: 552px;
    border-radius: 12px;
}

.wpl-cookie-consent-support-row {
	margin-top: 40px;
}

.wpl-cookie-consent-save-button {
	margin-left: 10%;
	margin-top: -1rem;
}
.overlay-integration-style{
	z-index: 99;
	background: rgba(255,255,255,0.8);
	top:0;
	left:0;
	width: 100%;
	height:352px;
	position:absolute;
}
.overlay-integration-style .overlay-integration-message{
	position: absolute;
    width: calc(100% - 43px);
    bottom: 150px;
	text-align: center;
    background-color: var(--white-100);
    padding: 15px;
    margin: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 4px 6px -1px, rgba(0,0,0,0.06) 0 2px 4px -1px;
}
.overlay-integration-style__disable{
	z-index: 99;
	background: rgba(255,255,255,0.8);
	top:0;
	left:0;
	width: 100%;
	height:156px;
	position:absolute;

}
.overlay-integration-style__disable .overlay-integration-message__disable{
	position: absolute;
    width: calc(100% - 43px);
    bottom: 24px;
	text-align: center;
    background-color: var(--white-100);
    padding: 15px;
    margin: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 4px 6px -1px, rgba(0,0,0,0.06) 0 2px 4px -1px;
}
#maxmind-integration-save-settings-btn-container{
	display: flex;
	justify-content: flex-end;
}